html{
    color: blue !important;
}

.page-enter-active, .page-leave-active {
    transition: opacity 1s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}

.test-enter-active, .test-leave-active {
    transition: all 1s;
    font-size:12px;
}
.test-enter, .test-leave-to {
    opacity: 0;
    font-size:40px;
}